.footer-container {
    height: 13%;
    background: url('../Images/walpaper.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}