@import './breakpoint.scss';
@import './variable.scss';

.header {
    background: url('../Images/walpaper.jpg');
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    height: 7%;
    align-items: center;
    font-size: 1.5rem;
    font-family: cursive;

    a {
        padding: 1rem;
    }

    @include respond(tablet) {
        overflow: scroll;
    }
}